@model BoardGameWui.Models.PlayerModel
@{
    Layout = "~/Views/Shared/_Game.cshtml";
    ViewBag.Title = "Tic-Tac-Toe game";
}

@if (TempData["notice"] != null)
{
    <h4>@Html.Raw(TempData["notice"])</h4>
}

<h2>@ViewBag.Title</h2>
<p>
    Welcome to my Tic-Tac-Toe game. Play below with a friend and try get three in a row!<br />
    You need to play the game on the same computer; use two different browsers and play on one browser each.<br />
    Update the gameboard progress by updating the site (F5).<br />
</p>

<input type="button" value="Leave game" onclick="location.href='@Url.Action("LeaveGame", Model)'" />
<input type="button" value="Reset game" onclick="location.href='@Url.Action("ResetGame")'" />