@model BoardGameWui.Models.GameModel
@{
    Layout = "~/Views/Shared/_Game.cshtml";
    ViewBag.Title = "Tic-Tac-Toe";
}

@if (TempData["notice"] != null)
{
    <h4>@TempData["notice"]</h4>
}

<h2>@ViewBag.Title game</h2>
<p>
    Welcome to my Tic-Tac-Toe game. Play below with a friend and try get three in a row!
    You need to play the game on the same computer, use two different browsers and play on one browser each.
</p>


@if (true)
{
    using (Html.BeginForm())
    {
        @Html.Label("Player name")<br />
        @Html.TextBox("Name")
        <br /><br />

        <button type="submit">Submit</button>
    }
}